<!DOCTYPE html>
<html>
    <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <style>
            /* Email styles need to be inline */
            </style>
    </head>
    <body>
        <h2>New Contact Message</h2>
        <p>
            <strong>First Name</strong><br />
            {{ first_name }}<br />
        </p>
        <p>
            <strong>Last Name</strong><br />
            {{ last_name }}<br />
        </p>
        <p>
            <strong>Email</strong><br />
            {{ email }}<br />
        </p>
        <p>
            <strong>Reason</strong><br />
            {{ reason }}<br />
        </p>
        <p>
            <strong>Message</strong><br />
            {{ message }}<br />
        </p>
    </body>
</html>
