<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>

    Hello  <%= first_name %> ,<br/>

    Someone has requested a link to change your password. You can do this through the link below.<br/>
    
    <a href="<%= process.env.WEB_SERVER %>/reset-password?reset_password_token=<%= reset_password_token %>">Change my password</a><br/>
    
    If you didn't request this, please ignore this email.<br/>
    
    Your password won't change until you access the link above and create a new one.<br/>
<br/>
  </body>
</html>
